<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9.1" targetFramework="net47" />
  <package id="CsvHelper" version="7.0.1" targetFramework="net47" />
  <package id="NLog" version="4.4.13" targetFramework="net47" />
  <package id="NLog.Config" version="4.4.13" targetFramework="net47" />
  <package id="NLog.Schema" version="4.4.13" targetFramework="net47" />
</packages>